.title {
  background-color: greenyellow;
  display: flex;
  justify-content: center;
}

.header {
  border: solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
}

.exchange-form {
  border: solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
  padding: 7px;
}
